
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 80px;
}

img {
    max-width: 70%;
    height: auto;
    border-radius: 10px;

}

.content {
    margin-top: 20px;
    text-align: left;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
    background-color: #b54200;
    color: white;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin: 20px auto 0 auto;
    max-width: 80%;
}

body {
    background-color: #ffefe3;
}

.create-route-btn {
    margin-top: 2px;
    padding: 12px 25px;
    background-color: #b54200;
    ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s, transform 0.2s;
}

    .create-route-btn:hover {
        background-color: #6302d3;
        transform: scale(1.05);
    }

.title {
    font-size: 22px;
    font-weight: bold;
}


.passeio-action {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    z-index: 10;
}

    footer button {
        background: none;
        border: none;
        font-size: 16px;
        color: #b54200;
        cursor: pointer;
    }

@media (max-width: 940px) {
    #btn-pendente {
        width: 30%;
        height: 30%;
    }
    #btn-curtir {
        width: 30%;
        height: 30%;
    }
    .rating{
        width: 30%;
        height: 30%;
    }
    img {
        max-width: 80%;
        height: auto;
        border-radius: 10px;
    }
}


