body {
    background-color: #ffefe3;
}

.text {
    text-align: center;
    margin-top: 50px;
    color: #b54200;
    margin-top: 100px;
}

.input {
    margin-top: 100px;
    border-radius: 330px;
}

.subtitle {
    font-size: 20px;
    text-align: center;
    color: gray;
}

.containerEntrar {
    margin-top: 15px;
}

.enter {
    border-radius: 33px;
    border-color: #ffaa78;
    background-color: #ffefe3;
    color: black;
}

    .enter:hover {
        background-color: blueviolet;
    }
