

@model List<Rota_LivreWEB_API.Models.Passeio>





  
        @if (!Model.Any())
        {
            <p>Você não possui nenhum passeio pendente.</p>
        }
        else
        {
            <div class="produtos-container">
                @foreach (var passeio in Model)
                {
                    <div class="produto"
                         onmouseover="this.style.transform='scale(1.1)'"
                         onmouseout="this.style.transform='scale(1)'"
                         onclick='window.location.href="@Url.Action("Detalhes", "Passeios", new { id = passeio.id_passeio })"'>

                        <img src="@Url.Content("~/img/passeios/" + passeio.img_url)" class="imagem_produto" alt="@passeio.nome_passeio" />

                        <div class="museu_conteudo" id="museu-@passeio.id_passeio">
                            <p class="nome">@passeio.nome_passeio</p>
                            <div class="linha_nome"></div>
                        </div>
                    </div>
                }
            </div>
        }
    